@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

.container-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Source Sans Pro',sans-serif;
}

.forms form{
    padding:25px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 250, 240);
}

.forms form h3{
    font-size: 25px;
    font-weight: 600;
    padding:15px;
    margin-bottom: 15px;
}

.complaint-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:10px;
    margin:0 15%;
    border: none;
    text-align: center;
    background:linear-gradient(45deg , aqua,skyblue);
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 600;
}