.grievance-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
 
 .box{
     
     width: 100%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 
 
 .btn-link{
     margin:20px;
     padding:20px;
     text-decoration: none;
     color:black;
     font-size: 21px;
     transition: 0.35s;
 }
 
 .btn-link:hover{
     border-left:2px black solid;
     border-right:2px black solid;
     transform: translateY(-15px);
     background:linear-gradient(to bottom, white,lightgray);
     color:black;
 }